.header {
    padding: 10px;
    text-align: center;
    background: rgb(65, 63, 63);
    color: white;
    font-size: 15px;
}

#citySearch {
    padding: 15px;
    font-size: 15px;
}

.search-bar {
    display: flex;
    flex-direction: row;
}