.header {
    padding: 10px;
    text-align: center;
    background: rgb(65, 63, 63);
    color: white;
    font-size: 15px;
}

#citySearch {
    padding: 10px 0px 10px 0px;
    font-size: 15px;
}

.button {}